group4data/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "group4data"
		},
		"Group4Data_Database_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Group4Data_Database'"
		},
		"grop4data_sink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'grop4data_sink'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Clientes_Transacoes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "view all_transactions",
						"description": "",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW all_transactions AS \n  SELECT * FROM ( \n    SELECT id, client_id, value, date_time, 'in' AS transaction_type FROM transactions_in\n    UNION ALL\n    SELECT id, client_id, value, date_time, 'out' AS transaction_type FROM transactions_out) AS transactions;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view fraudulent_transactions",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "view all_transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW fraudulent_transactions AS \n  SELECT * FROM (\n  SELECT client_id, table_datatime_previous.id AS id_transaction, value, date_time, transaction_type\n    FROM (\n      SELECT id, client_id, value, date_time, transaction_type,\n        LAG(date_time) OVER (\n          PARTITION BY client_id\n          ORDER BY date_time\n        ) AS datatime_previous\n      FROM all_transactions\n    ) AS table_datatime_previous\n    JOIN clients ON table_datatime_previous.client_id = clients.id\n    WHERE datediff(SECOND, datatime_previous, date_time) < 120\n    ) AS frauds"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view frauds_by_state",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "view frauds_by_client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW frauds_by_state AS\n    SELECT c.state, COUNT(ft.client_id) as qty_of_frauds\n    FROM fraudulent_transactions ft \n    JOIN clients c \n    ON c.id = ft.client_id \n    GROUP BY c.state;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view sum_of_frauds",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Order by qty_of_frauds desc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW sum_of_frauds AS\n    SELECT transaction_type, SUM(value) as sum_value\n    FROM  fraudulent_transactions\n    GROUP BY transaction_type;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view count_of_frauds",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Order by sum_value desc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW count_of_frauds AS\n    SELECT transaction_type, COUNT(value) as qty_of_transactions\n    FROM  fraudulent_transactions\n    GROUP BY transaction_type;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view frauds_by_year",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Order by qty_of_transactions desc 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW frauds_by_year AS\n    SELECT YEAR(date_time) AS Year, COUNT(*) AS frauds_by_year\n    FROM fraudulent_transactions\n    GROUP BY YEAR(date_time);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view frauds_by_shift_and_year",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Order by Year desc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW frauds_by_shift_and_year AS\n    SELECT DATEPART(year, date_time) AS Year, \n        CASE \n            WHEN DATEPART(hour, date_time) BETWEEN 0 AND 5 THEN '0-6 hours'\n            WHEN DATEPART(hour, date_time) BETWEEN 6 AND 11 THEN '6-12 hours'\n            WHEN DATEPART(hour, date_time) BETWEEN 12 AND 17 THEN '12-18 hours'\n            WHEN DATEPART(hour, date_time) BETWEEN 18 AND 23 THEN '18-24 hours'\n        END AS transaction_time,\n        COUNT(*) AS qty_of_transactions\n    FROM fraudulent_transactions\n    GROUP BY DATEPART(year, date_time), \n            CASE \n                WHEN DATEPART(hour, date_time) BETWEEN 0 AND 5 THEN '0-6 hours'\n                WHEN DATEPART(hour, date_time) BETWEEN 6 AND 11 THEN '6-12 hours'\n                WHEN DATEPART(hour, date_time) BETWEEN 12 AND 17 THEN '12-18 hours'\n                WHEN DATEPART(hour, date_time) BETWEEN 18 AND 23 THEN '18-24 hours'\n            END;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view frauds_by_month",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Order by Year",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW frauds_by_month AS\n    SELECT MONTH(date_time) AS month, COUNT(id_transaction) AS qty_of_frauds\n    FROM fraudulent_transactions\n    GROUP BY MONTH(date_time);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "view frauds_by_client",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "order by client_id - in",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "order by client_id - out",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE VIEW frauds_by_client AS\n    SELECT c.name, c.id, COUNT(ft.id_transaction) as qty_of_transactions, SUM(value) as value_total_frauds\n    FROM  fraudulent_transactions ft\n    JOIN  clients c\n    ON c.id = ft.client_id \n    GROUP BY ft.client_id, c.name, c.id;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Order by qty_of_frauds desc",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view frauds_by_state",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM frauds_by_state\nORDER BY qty_of_frauds DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_by_state",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Order by sum_value desc",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view sum_of_frauds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM sum_of_frauds\nORDER BY sum_value DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sum_of_frauds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Order by qty_of_transactions desc 2",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view count_of_frauds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM count_of_frauds\nORDER BY qty_of_transactions DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "count_of_frauds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Order by Year desc",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view frauds_by_year",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM frauds_by_year\nORDER BY Year DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_by_year",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Order by Year",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view frauds_by_shift_and_year",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM frauds_by_shift_and_year\nORDER BY Year;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_by_shift_and_year",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Order by qty_of_frauds desc 2",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view frauds_by_month",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM frauds_by_month\nORDER BY qty_of_frauds DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_by_month",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "all_transactions_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view all_transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "all_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "allTransactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "fraudulent_transactions_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view fraudulent_transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fraudulent_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudulentTransactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "frauds_by_client_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view frauds_by_client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "frauds_by_client",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudsByClient",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "frauds_by_state_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view frauds_by_state",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "frauds_by_state",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudsByState",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sum_of_frauds_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view sum_of_frauds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sum_of_frauds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sumOfFrauds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "count_of_frauds_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view count_of_frauds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "count_of_frauds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "countOfFrauds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "frauds_by_year_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view frauds_by_year",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "frauds_by_year",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudsByYear",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "frauds_by_shift_and_year_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view frauds_by_shift_and_year",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "frauds_by_shift_and_year",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudsByShiftAndYear",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "frauds_by_month_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "view frauds_by_month",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "frauds_by_month",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudsByMonth",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "drop all views",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "frauds_by_month_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DROP VIEW all_transactions;\nDROP VIEW fraudulent_transactions;\nDROP TABLE frauds_transactions_out;\nDROP TABLE frauds_transactions_in;\nDROP VIEW frauds_by_client;\nDROP VIEW frauds_by_state;\nDROP VIEW sum_of_frauds;\nDROP VIEW count_of_frauds;\nDROP VIEW frauds_by_year;\nDROP VIEW frauds_by_shift_and_year;\nDROP VIEW frauds_by_month;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "table frauds_transactions_in",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "view fraudulent_transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT *\nINTO frauds_transactions_in \nFROM fraudulent_transactions\nWHERE transaction_type = 'in';"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "frauds_transactions_in_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "alter table in 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "frauds_transactions_in",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudsTransactionsIn",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "alter table in 1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "table frauds_transactions_in",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "ALTER TABLE frauds_transactions_in\nADD CONSTRAINT fk_clients_id\nFOREIGN KEY (client_id)\nREFERENCES clients (id);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "alter table in 2",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "alter table in 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "ALTER TABLE frauds_transactions_in\nADD CONSTRAINT fk_transactions_id_in\nFOREIGN KEY (id_transaction)\nREFERENCES transactions_in (id);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "alter table out 2",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "alter table out 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "ALTER TABLE frauds_transactions_out\nADD CONSTRAINT fk_transactions_id_out\nFOREIGN KEY (id_transaction)\nREFERENCES transactions_out (id);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "alter table out 1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "table frauds_transactions_out",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "ALTER TABLE frauds_transactions_out\nADD CONSTRAINT fk_clients_id_out\nFOREIGN KEY (client_id)\nREFERENCES clients (id);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "order by client_id - in",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "alter table in 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_transactions_in",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "order by qty_of_transactions desc",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view frauds_by_client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM frauds_by_client\nORDER BY qty_of_transactions DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_by_client",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "order by value_total_frauds desc",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "view frauds_by_client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM frauds_by_client \nORDER BY value_total_frauds DESC;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_by_client",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "table frauds_transactions_out",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "view fraudulent_transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Group4Data_Database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT *\nINTO frauds_transactions_out \nFROM fraudulent_transactions\nWHERE transaction_type = 'out';"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "frauds_transactions_out_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "alter table out 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "frauds_transactions_in",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fraudsTransactionsOut",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "order by client_id - out",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "alter table out 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "frauds_transactions_out",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]",
				"[concat(variables('factoryId'), '/datasets/frauds_by_state')]",
				"[concat(variables('factoryId'), '/datasets/sum_of_frauds')]",
				"[concat(variables('factoryId'), '/datasets/count_of_frauds')]",
				"[concat(variables('factoryId'), '/datasets/frauds_by_year')]",
				"[concat(variables('factoryId'), '/datasets/frauds_by_shift_and_year')]",
				"[concat(variables('factoryId'), '/datasets/frauds_by_month')]",
				"[concat(variables('factoryId'), '/datasets/all_transactions')]",
				"[concat(variables('factoryId'), '/datasets/allTransactions')]",
				"[concat(variables('factoryId'), '/datasets/fraudulent_transactions')]",
				"[concat(variables('factoryId'), '/datasets/fraudulentTransactions')]",
				"[concat(variables('factoryId'), '/datasets/frauds_by_client')]",
				"[concat(variables('factoryId'), '/datasets/fraudsByClient')]",
				"[concat(variables('factoryId'), '/datasets/fraudsByState')]",
				"[concat(variables('factoryId'), '/datasets/sumOfFrauds')]",
				"[concat(variables('factoryId'), '/datasets/countOfFrauds')]",
				"[concat(variables('factoryId'), '/datasets/fraudsByYear')]",
				"[concat(variables('factoryId'), '/datasets/fraudsByShiftAndYear')]",
				"[concat(variables('factoryId'), '/datasets/fraudsByMonth')]",
				"[concat(variables('factoryId'), '/datasets/frauds_transactions_in')]",
				"[concat(variables('factoryId'), '/datasets/fraudsTransactionsIn')]",
				"[concat(variables('factoryId'), '/datasets/fraudsTransactionsOut')]",
				"[concat(variables('factoryId'), '/datasets/frauds_transactions_out')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/allTransactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "all_transactions.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cliente_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "valor",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "data_hora",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "tipo_transacao",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "all_transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nome",
						"type": "varchar"
					},
					{
						"name": "sobrenome",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "data_hora_cadastro",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "telefone",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "clientes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/countOfFrauds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "count_of_frauds.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/count_of_frauds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "count_of_frauds"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudsByClient')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "frauds_by_client.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudsByMonth')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudsByShiftAndYear')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "frauds_by_shift_and_year.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudsByState')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "frauds_by_state.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudsByYear')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "frauds_by_year.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudsTransactionsOut')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "frauds_transactions_out.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/frauds_by_client')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "nome",
						"type": "varchar"
					},
					{
						"name": "quantidade_transacoes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "frauds_by_client"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/frauds_by_month')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "frauds_by_month"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/frauds_by_shift_and_year')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "frauds_by_shift_and_year"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/frauds_by_state')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "frauds_by_state"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/frauds_by_year')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "frauds_by_year"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudulentTransactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "fraudulent_transactions.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudulent_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "fraudulent_transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sumOfFrauds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sum_of_frauds.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sum_of_frauds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "sum_of_frauds"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactions_in')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cliente_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "valor",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "data_hora",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "transactions_in"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactions_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cliente_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "valor",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "data_hora",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "transactions_out"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Group4Data_Database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Tabelas com informaes dos clientes e transaes de um banco fictcio.",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Group4Data_Database_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/grop4data_sink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('grop4data_sink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/frauds_transactions_in')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "frauds_transactions_in"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fraudsTransactionsIn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "grop4data_sink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "frauds_transactions_in.csv",
						"container": "outputs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "cliente_id",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "data_hora",
						"type": "String"
					},
					{
						"name": "tipo_transacao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/grop4data_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/frauds_transactions_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Group4Data_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "frauds_transactions_out"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Group4Data_Database')]"
			]
		}
	]
}